@import 'header';

#welcome-page{

  #nav-bar{
    background-color: rgba(36,164,199,0.6);
    bottom: 0;
    height: 75px;
    position: absolute;
    width: 100%;
    z-index: 50;

    .logo{
      color: white;
      float: left;
      font-size: 2rem;
      font-weight: 400;
      height: 75px;
      letter-spacing: 5px;
      line-height: 75px;

      span{
        font-weight: 100;
      }
    }

    .dots{
      float: right;
      height: 75px;
      .dot{
        display: flex;
        flex-direction: column;
        float: left;
        height: 40px;
        margin: 10px 15px;
        text-align: center;
        width: 50px;
        .circle{
          background-color: white;
          border-radius: 100%;
          height: 25px;
          margin: auto;
          opacity: .8;
          transition: height .5s, width .5s, opacity .5s;
          width: 25px;

        }
        .title{
          color: white;
          height: 0;
          letter-spacing: 2px;
          margin-top: 2px;
          text-transform: uppercase;
          transition: opacity .5s;
          opacity:.6;

          span{
            margin-left: -100%;
            margin-right: -100%;
            text-align: center;
          }
        }
        &.active{
          .circle{
            height: 40px;
            opacity: 1;
            width: 40px;

          }
          .title{
            opacity: 1;
          }
        }
      }
    }

    &.affix{
      position: fixed;
      top: 0;
    }
  }
  #splash{
    height: 120vh;
    height: calc(100vh + 80px);
    min-height: 550px;
    position: relative;
    width: 100vw;

    //Content with height back to 100vh
    #splash-content{
      display: flex;
      height: 83.3%;

      //Keep Content Vertically & Horizontally Centered
      .center-content{
        margin: auto;

        //Centered SD hacks Logo
        #main-logo{
          display: block;
          margin: 0 auto;
          width: 17.2rem;
        }

        .info-box{
          //background: rgba(0,0,0,0.5);
          //margin-top: 1.5rem;
          max-width: 900px;
          padding: 25px;
          text-align: center;
          width: 80vw;

          //Info Box Text
          p{
            color: white;
            text-transform: uppercase;
            margin-bottom: 2rem;
            font-size: 1.6rem;
            font-weight: 100;
            letter-spacing: 6px;

            &.info{
              font-size: 1rem;
              margin-top: 1.4rem;
              margin-bottom: 1.4rem;
            }
          }

          .social{
            color: white;
            font-size: 3rem;
            margin-top: 3.5rem;
            letter-spacing: 2rem;
              a{
                color: white;
                text-decoration: none;
              }
          }
        }

        .register-button{
          height: 45px;
          line-height: 45px;
        }
      }
    }

    //Scripps & Circuit Overlays for Background
    .background-layer{
      background-position: center;
      background-size: cover;
      height: 120%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    #background-layer-1{
      background-image: url(/images/circuit.png);
      opacity: 0.2;
      z-index: -1;
    }
    #background-layer-2{
      background-image: url(/images/scripps.jpg);
      opacity: 0.65;
      z-index: -2;
    }
    #background-layer-3{
      background:rgb(0, 5, 26);
      z-index: -3;
    }
  }

  /* Progress Bar Section */

  #overview{
    $overview-bg: #005a8f;
    //AA Slanted Edges on Mozilla
    -moz-transform: scale(.9999);

    border-bottom: 75px solid transparent;
    border-right: 100vw solid $overview-bg;
    border-top: 75px solid transparent;
    box-sizing: content-box;
    color: white;
    //height: 100vh;
    margin-top: -80px;
    padding: 0;
    position: relative;
    z-index: 5;

    #overview-content{
      width: 100vw;

      .section-title{
        font-size: 2rem;
        color: white;
        font-weight: 100;
        text-align: center;
        margin-top: 2rem;
        padding: 1.5rem;
        letter-spacing: .125rem;
      }

      .bar{
        font-size: 2.5rem;
        font-weight: 100;
        height: 5.1rem;
        line-height: 5.1rem;
        margin: 4rem 0 4rem -15px;
        overflow: hidden;
        text-align: right;
        transition: width 1s;
        white-space: nowrap;
        width: 80%;
        letter-spacing: .04rem;
        width: 0px;

        //Triangle using the after psuedo element to cover up the bar
        &::after{
          border-left: 50px solid transparent;
          border-bottom: 82px solid $overview-bg;
          content: "";
          display: block;
          float: right;
          margin-left: 1.5rem;
        }

        //Before transition
        &.before{
          //width: 0px !important;
        }

        &:nth-of-type(1).active{
          background: #1777b0;
          width: 95%;
        }
        &:nth-of-type(2).active{
          background: #1c86c4;
          width: 75%;
        }
        &:nth-of-type(3).active{
          background: #2e9bdb;
          width: 85%;
        }
        &:nth-of-type(4).active{
          background: #51afe7;
          width: 65%;
        }
      }
    }
  }

  /* FAQ List */

  #faq{
    background: url(/images/faq-bg.svg);//#137bd4;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    //height: 100vh;
    margin-top: -75px;
    padding: 95px 0 110px 0;
    width: 100vw;

    .question{
      font-size: 1.45rem;
      padding: 25px 0 25px 0;
      h4{
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.15em;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      p{
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        padding-top: 5px;
      }
      //Email Links
      a{
        color: white;
        text-decoration: underline;
      }
    }

  }

  /* Sponsors List */

  #sponsors{
    //AA Slanted Edges on Mozilla
    -moz-transform: scale(.9999);

    border-bottom: 90px solid transparent;
    border-right: 100vw solid #ecf7f9;
    border-top: 90px solid transparent;
    box-sizing: content-box;
    color: white;
    margin-top: -110px;
    padding: 0;
    position: relative;
    z-index: 5;

    #sponsors-content{
      width: 90vw;
      margin-left: 5vw;
      padding-top: 7.8rem;

      //Bottom margin
      .hidden-xs{
        margin-bottom: 4rem;
      }

      .logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        filter: grayscale(100%) contrast(0%);
        -webkit-filter: grayscale(100%) contrast(0%);
        height: 7rem;
        transition: -webkit-filter .1s;

        &:hover{
          -webkit-filter: none;
        }
      }
      .sponsor-button{
        text-align: center;
        color: #1390ec;
        font-size: 3rem;
        font-weight: 100;
        margin: 25px;
        height: 4rem;
        line-height: 4rem;

        i{
          font-size: 1.8rem;
          transform: translate(.5rem, -.3rem);
        }
      }

    }
  }

  /* Presented By Section */

  #presented{
    #presented-content{
      padding: 55px 0 75px 0;

      .section-title{
        color: #3572a1;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 45px;
      }

      .logo-container{
        text-align: center;

        img{
          height: 75px;
        }
      }
    }
  }

  #footer{
    background: #2d91ac;
    #footer-content{
      .mini-logo{
        height: 50px;
        margin: 10px 0;
        float:left;
      }
      div{
        color: white;
        font-size: 21px;
        font-weight: 100;
        height: 70px;
        letter-spacing: 1px;
        line-height: 70px;
        margin: 0 auto;
        padding-right: 15px;
        text-align: center;
        width: 400px;
      }
    }
  }
}