/*!
 * SDHACKS Website CSS file containing all style for the different secitions
 */




.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 6em;
    font-weight: 700;
}

/* Side Menu */


/* ****************************
**************Sections*******
****************************** */
.about {
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/about_background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	padding-top: -25px;
}

.header {
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/home_background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.faq {
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/faq_background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.sponsors {
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/sponsors_background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.contact {
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/contact_background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.page {
    width: 100%;
    height: 100%;
    background: url(../images/page.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}


/*************ELEMENTS***********/

.circles{ 
    position: relative; 
    height: 225px; 
    width: 225px; 
    background-color: solid transparent; 
    border-radius: 150px; 
    border-top: 10px solid #FFFFFF; 
    border-left: 10px solid #FFFFFF; 
    border-right: 10px solid #FFFFFF; 
    border-bottom: 10px solid  #FFFFFF; 

} 


.circle-item {
    margin-bottom: 30px;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}


.circle-text { 
	vertical-align: middle;
	text-align: center;
	line-height: 50px;       /* the same as your div height */
	font-size: 35px;
	font-weight: bold;
	font-color: #0FFFFF;
	
}

/*********LABEL STYLES *******************/

.about-label { 
	line-height: 50px;       /* the same as your div height */
	font-size: 24px;
	font-weight: bold;
}

.faq-question-labels{ 
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	color:white;
}

.faq-info-labels{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color:white;
}