@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/*!
 * SDHACKS Website CSS file containing all style for the different secitions
 */
img, media {
  max-width: 100%;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/gotham-medium-1.otf") format("opentype");
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 6em;
  font-weight: 700;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Side Menu */


/* ****************************
**************Sections*******
****************************** */
.about {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../images/about_background.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: -25px;
}

.header {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../images/home_background.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.faq {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../images/faq_background.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.sponsors {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../images/sponsors_background.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.contact {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../images/contact.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}





/*************ELEMENTS***********/

.circles{
  height: 225px;
  width: 225px;
  background-color: solid transparent;
  border-radius: 150px;
  -moz-border-radius: 150px/150px;
  -webkit-border-radius: 150px 150px;
  border-top: 10px solid #FFFFFF;
  border-left: 10px solid #FFFFFF;
  border-right: 10px solid #FFFFFF;
  border-bottom: 10px solid  #FFFFFF;
  font-size:32px;
  color:#fff;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  margin-top:50px;
  margin-bottom: 30px;
  font-family: 'Gotham', sans-serif;




}


.home-logo-margin {
  margin-bottom: 50px;
  margin-top: 100px;
}
.contact-margin {
  margin-top: 200px;
  position: relative;
}
.presented-margin {
  position: relative;
  top: 320px;
  margin-bottom:200px;
  margin-top: 100px;
}


.logos-margin {
  position: relative;
  top: 120px;
}

.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}



/*********LABEL STYLES *******************/
.home-label{
  font-family: 'Gotham', sans-serif;
  font-size: 13.3px;


}
.about-label {
  line-height: 32px;       /* the same as your div height */
  font-size: 24px;
  font-weight: bold;
  margin-bottom:50px;
  font-family: 'Gotham', sans-serif;

}

.faq-question-labels{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color:white;
}

.faq-info-labels{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color:white;
}

.email-text{
  font-family: 'Gotham', sans-serif;
  font-size: 28px;
  color: white;
}

.presented-text{
  font-family: 'Gotham', sans-serif;
  font-size: 23.3px;
  color: #0d72a6;
}
.built-text {
  position: relative;
  top: 90px;
  margin-top: 100px;
  font-family: 'Gotham', sans-serif;
  font-size: 23.3px;
  color: white;
}