//See Gulpfile for include path
$dashboard-color: #137bd4;
$form-color: #26A4C5;
$form-color-focused: #2a7aa2;

@import 'variables';
@import 'bootstrap';
@import 'includes/global';

@import 'components/buttons';
@import 'components/forms';

@import 'welcome/welcome';
//@import 'layouts/one-sm-column';
@import 'layouts/form';
@import 'apply/application';
@import 'dashboard/dashboard';
@import 'layouts/one-column';
